.cast-info {
  display: flex;
  .poster-wrap {
    margin-right: 2rem;
    margin-bottom: 6rem;
    img {
      box-shadow: $basicShadow;
      width: 10rem;
    }
  }
}

.cast-bio-btn {
  font-size: $xxSmall;
  font-weight: 600;
  text-align: right;
  cursor: pointer;
}
