.cast-info {
  display: flex;
  .poster-wrap {
    margin-right: 2rem;
    margin-bottom: 6rem;
    img {
      width: 10rem;
    }
  }
}

.cast-bio-btn {
  font-size: 12px;
  font-weight: 600;
  text-align: right;
}
