.login-btn {
  margin-top: 1.5rem;
  width: 100%;
}

.login-signup-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.login-signup-btn {
  font-size: 14px;
  text-decoration: underline;
  color: $blackColor;
  box-shadow: none !important;
}

.input-wrap {
  display: flex;
  position: relative;
  align-items: center;
  img {
    position: absolute;
    width: 20px;
    right: 6px;
  }
}
