.info__container {
  background-color: pink;
}

.info__wrap {
  display: flex;
  margin-bottom: 5rem;

  .poster-wrap {
    width: 40%;
  }
  img {
    width: 100%;
    box-shadow: $basicShadow;
    height: 100%;
    object-fit: cover;
  }
}

.main-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5rem;
  width: 100%;
  &__btn {
    width: 12rem;
    margin-right: 1.5rem;
  }
}

// movie info main style
.main-wrap__info {
  .movieTitle {
    @include movieTitle(1.5rem);
  }
  .movieYear {
    @include movieYear(12px);
  }
  &-subWrap {
    margin-bottom: 5px;
    letter-spacing: $letterSpacing;
  }

  .info-overview {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    max-width: 450px;
    // border-top: 0.5px solid gray;
  }

  // info without title(year)
  .subInfo {
    .director {
      &:hover {
        background-color: $yellowColor;
      }
    }
    .movieCast {
      margin-right: 10px;
      &:hover {
        background-color: $yellowColor;
      }
    }
    span {
      margin-right: 7px;
    }
    // subInfo의 첫번째 span들
    span:first-of-type:not(.movieCast) {
      color: $darkGray;
      font-size: $xSmall;
    }
    span:nth-child(2) {
      font-weight: $subTitleWeight;
    }
  }
}
