.info__container {
  display: flex;
  align-items: center;
  height: $fullHeight;
}

.info__wrap {
  display: flex;
  // height: 75%;
  padding: 0 2rem;

  .poster-wrap {
    width: 30%;
  }
  img {
    width: 100%;
    box-shadow: $basicShadow;
  }
}

.main-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5rem;
  width: 100%;
  &__btn {
    width: 12rem;
    margin-right: 1.5rem;
  }
}

// movie info main style
.main-wrap__info {
  .movieTitle {
    @include movieTitle(1.5rem);
  }
  .movieYear {
    @include movieYear(12px);
  }
  &-subWrap {
    margin-bottom: 5px;
    letter-spacing: $letterSpacing;
  }

  // info without title(year)
  .subInfo {
    .movieCast {
      margin-right: 10px;
    }
    span {
      margin-right: 7px;
    }
    // subInfo의 첫번째 span들
    span:first-of-type:not(.movieCast) {
      color: $darkGray;
      font-size: $xSmall;
    }
    span:nth-child(2) {
      font-weight: $subTitleWeight;
    }
  }
}
