// review page width
.review-page__container {
  width: 25rem;
  margin: 0 auto;
}

// form container
.review__form {
  width: 100%;
  margin: 0 auto;
}

// comment input size
.comment-form {
  line-height: 2rem;
}
