.profile-page {
  min-height: $fullHeight;
}

.profile__user-wrap {
  display: flex;
  height: 10rem;
  align-items: center;
  justify-content: center;
  p {
    padding: 10px 20px;
    background-color: $transparentWhite;
    border-radius: 10px;
    box-shadow: $reviewDetailShadow;
  }
}

.list__container {
  width: 100%;
  display: flex;
  flex-basis: auto;
  gap: 4rem;
}
