.profile__user-wrap {
  display: flex;
  height: 13rem;
  align-items: center;
  justify-content: center;
  border-bottom: 0.5px solid #dbdbdb;
}

.list__container {
  width: 100%;
  //   background-color: red;
  display: flex;
  flex-basis: auto;
  gap: 4rem;
}
