.profile-list__btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviewBtns {
  width: 100px;
  margin-left: 1rem;
  height: 25px;
}

.review-list-page {
  min-height: $fullHeight;
}

.profile-list__card-wrap__info-wrap__button-wrap {
  width: 30%;
}
