.footer {
  background-color: $blackColor;
  .page {
    // space between footer and the page containers
    margin-top: 5rem;
    height: 15rem;
    background-color: $blackColor;
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    img {
      width: 15rem;
    }
    span {
      color: $whiteColor;
      margin-left: 2rem;
      margin-right: 1.4rem;
      font-weight: 400;
      font-size: 16px;
    }
  }
}
