.footer {
  background-color: $blackColor;
  .page {
    // space between footer and the page containers
    margin-top: 5rem;
    height: 15rem;
    background-color: $blackColor;
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    @include responsive(phone-only) {
      flex-direction: column;
      justify-content: space-evenly;
      margin-top: 2rem;
      height: 20vh;
    }
    img {
      width: 15rem;
      @include responsive(phone-only) {
        width: 8rem;
      }
    }
    span {
      color: $whiteColor;
      margin-left: 2rem;
      margin-right: 1.4rem;
      font-weight: 400;
      font-size: $bigger;
      @include responsive(phone-only) {
        margin-left: 1rem;
        margin-right: 1.4rem;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
