.navbar {
  width: 100%;
  height: 11rem;
}

.responsiveNav,
.openIcon {
  display: none;
}

.nav-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include responsive(phone-only) {
    flex-direction: column;
    justify-content: center;
  }

  .logo-wrap {
    img {
      width: 14rem;
      @include responsive(phone-only) {
        width: 12rem;
      }
    }
  }

  .link-wrap {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 3rem;

    // link-wrap doesn't display on mobile size
    @include responsive(phone-only) {
      display: none;
    }
    // search bar
    &__input {
      display: none;
      @include responsive(phone-only) {
        display: block;
        margin-top: 15px;
      }
    }

    .profile-wrap {
      width: 6rem;
      margin-right: 1rem;
      position: relative;
      cursor: pointer;
      display: flex;
      justify-content: center;
      height: 80%;
      align-items: center;

      &.active {
        background-color: $transparentWhite;
        border-radius: 10px 10px 0 0;
      }
    }

    .hidden-menu {
      position: absolute;
      background-color: $transparentWhite;
      left: 0;
      top: 38px;
      width: 100%;
      padding-top: 7px;
      border-radius: 0 0 10px 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 99999;

      a {
        display: inline-block;
        margin-bottom: 8px;
        width: 100%;
        text-align: center;
        padding: 6px 0 4px 0;
        &:hover {
          background-color: $darkGray;
          color: $whiteColor;
        }
        &:nth-child(3) {
          margin-bottom: 0;
          &:hover {
            border-radius: 0 0 10px 10px;
          }
        }
      }
    }

    // Nav hidden menu animation
    .hidden-menu {
      opacity: 0;
      /* Start offscreen */
      transform: translateY(-10px);
      transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    }

    .hidden-menu.active {
      opacity: 1;
      /* Slide in */
      transform: translateY(0);
    }
  }
}

.mobile-nav-wrap {
  display: none;
  @include responsive(phone-only) {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40%;
    height: 100%;
  }
  .mobile-nav {
    height: 100%;
    width: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    padding-bottom: 2rem;
    background-color: rgba($color: $whiteColor, $alpha: 0.9);

    a {
      font-size: larger;
      font-weight: bolder;
    }
  }
}

@media screen and (max-width: $phoneSize) {
  .open-icon {
    display: block;
    position: fixed;
    right: 18px;
    top: 3px;
    width: 45px;
    height: 45px;
    transition-duration: 0.5s;
    z-index: 99999;
    transition: 1s;
  }
  .open {
    transition-duration: 0.5s;
    position: absolute;
    height: 3px;
    width: 30px;
    top: 30px;
    background-color: $blackColor;
    border-radius: 4px;
    left: 15px;
    z-index: 9999;
  }
  .open:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: $blackColor;
    content: '';
    top: -10px;
    border-radius: 4px;
    z-index: 9999;
  }
  .open:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: $blackColor;
    content: '';
    top: 10px;
    border-radius: 4px;
    z-index: 9999;
  }

  .side-nav {
    transition-duration: 0.5s;
    position: absolute;
    height: 3px;
    width: 30px;
    top: 30px;
    background: transparent;
    border-radius: 4px;
    left: 15px;
    z-index: 9999;
  }
  .side-nav:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 28px;
    height: 3px;
    background-color: $blackColor;
    content: '';
    top: -10px;
    border-radius: 4px;
    z-index: 9999;
    transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
  }
  .side-nav:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 28px;
    height: 3px;
    background-color: $blackColor;
    content: '';
    top: 10px;
    border-radius: 4px;
    z-index: 9999;
    transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
  }
}

@keyframes sideNavOpen {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
  }
}
