@import '../abstracts/_variables.scss';

.navbar {
  width: 100%;
  height: 12rem;
}

.nav-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logowrap {
    img {
      width: 18rem;
    }
  }

  .linkwrap {
    display: flex;
    align-items: center;
    a {
      margin-right: 1rem;
    }
  }
}
