@import '../abstracts/variables';

* {
  box-sizing: border-box;
}

body {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 2rem;
}

a {
  text-decoration: none;
  color: $blackColor;
}

span,
button {
  margin: 0;
  padding: 0;
}
