// COLORS
$blackColor: #0f0f0f;
$whiteColor: #f1f1f1;
$grayColor: #808080;
$lightGray: #e1e1e1;
$darkGray: rgb(55, 55, 55);
$blueColor: #76c5e4;
$yellowColor: #ecb400;
$transparentWhite: rgba(240, 240, 240, 0.8);
$transparentGray: rgba(125, 125, 125, 0.8);

// FONTS
$font: 'Fira Sans', sans-serif;

$letterSpacing: 0.8px;

// FONT WEIGHT
$titleWeight: 800;
$subTitleWeight: 600;

// FONT SIZE
$xSmall: 13px;
$title: 26px;

// PAGE FULL HEIGHT -> 100vh - nav bar height
$fullHeight: calc(100vh - 15rem);
$phoneFullHeight: 80vh;

// SHADOW
$basicShadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
  rgba(0, 0, 0, 0.22) 0px 15px 12px;
$formShadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
$reviewDetailShadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

// BREAKPOINTS
$phoneSize: 599px;
$tabletUp: 600px;
$tabletLandscape: 900px;
$desktopUp: 1200px;
$bigDesktop: 1800px;
