// COLORS
$blackColor: #0f0f0f;
$whiteColor: #f1f1f1;
$greyColor: #808080;
$darkGreyColor: rgb(55, 55, 55);
$blueColor: #76c5e4;
$yellowColor: #ecb400;

// FONTS
$font: 'Fira Sans', sans-serif;

$letterSpacing: 0.8px;

// FONT WEIGHT
$titleWeight: 800;
$subTitleWeight: 600;

// FONT SIZE
$xSmall: 13px;
$title: 26px;

// PAGE HEIGHT -> 100vh - nav bar height
$fullHeight: calc(100vh - 15rem);

// SHADOW
$basicShadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
  rgba(0, 0, 0, 0.22) 0px 15px 12px;
$formShadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
