// COLORS
$blackColor: #0f0f0f;
$whiteColor: #f1f1f1;
$greyColor: #808080;
$darkGreyColor: rgb(55, 55, 55) 0;
$blueColor: #76c5e4;
$yellowColor: #ecb400;

// FONTS
$font: 'Fira Sans', sans-serif;

$letterSpacing: 0.8px;

// FONT WEIGHT
$titleWeight: 800;
$subTitleWeight: 600;

// FONT SIZE
$xSmall: 13px;
$title: 26px;

// PAGE HEIGHT -> 100vh - nav bar height
$fullHeight: calc(100vh - 15rem);
