@import '../abstracts/mixins';

.btnStyle {
  border: transparent;
  border-radius: 8px;
  height: 36px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  span {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
  }
}

// for basic btns like save, confirm
.basicBtn {
  width: 45%;
  background-color: $blackColor;
  span {
    color: $whiteColor;
  }
}

// special button!
.specialBtn {
  width: 45%;
  background-color: $yellowColor;
  span {
    color: $whiteColor;
  }
}
