@import '../abstracts/mixins';

// .btnWrap {
//   margin: 1rem 0;
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
// }

.btn-wrap {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  // flex-basis: auto;
  button,
  a {
    width: 100%;
  }
}

.btnStyle {
  border: transparent;
  border-radius: 8px;
  height: 36px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  span {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
  }
}

// for basic btns like save, confirm
.basicBtn {
  @include btnStyle($blackColor, $whiteColor);
}

// special btns like cancel, delete
.specialBtn {
  @include btnStyle($yellowColor, $blackColor);
}
