.thumb {
  display: block;
  height: 100%;
  .thumb-img-wrap {
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      aspect-ratio: 6/9;
    }
  }
}

.section-title {
  font-size: $bigger;
}

.slick-dots li {
  @include responsive(phone-only) {
    width: 7px !important;
    height: 7px !important;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
  }
}

.slick-slider {
  margin-top: 1rem;
  display: flex !important;
  align-items: center;

  &:hover .material-symbols-outlined.arrow {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
    font-size: $xLarge;
    color: white;
    @include responsive(phone-only) {
      font-size: $title;
    }
  }

  // arrow buttons
  button {
    color: $darkGray;
    width: 2.5rem;
    height: 2.5rem;
  }

  .slick-list {
    width: 100%;

    .slick-track {
      display: flex;
      align-items: center;
      gap: 20px;

      .slick-slide {
        box-sizing: border-box;
        div {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

.slide-arrow-wrap {
  position: absolute;
  z-index: 10;
  &.right-arrow {
    right: 12px;
  }
  &.left-arrow {
    left: 19px;
  }
  @include responsive(phone-only) {
    display: none;
  }
}

.material-symbols-outlined {
  cursor: pointer;
  &.arrow {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
}
