.thumb {
  display: block;
  padding: 1rem;
  .thumb-img-wrap {
    height: 100%;

    img {
      height: 100%;
      width: fit-content;
      object-fit: cover;
      aspect-ratio: 6/9;
    }
  }
}

.section-title {
  font-size: 1.1rem;
}

.slick-dots li {
  @include responsive(phone-only) {
    width: 7px !important;
    height: 7px !important;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
  }
}

.slick-list {
  height: auto;
}

.slick-slider button {
  color: $darkGray;
  width: 2.5rem;
  height: 2.5rem;
}

.slick-slide div {
  height: auto;
}
