.cast__titleWrap {
  &__title {
    font-size: $title;
    font-weight: $subTitleWeight;
  }
  .view-more-btn {
    margin-right: 4rem;
  }
}

.cast__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 2rem;

  .fullList {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 2rem;
  }
}

.cast-card {
  p {
    font-size: 12px;
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.imgContainer {
  width: 8rem;
  height: 8rem;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
.name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
