.filter__container {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  @include responsive(phone-only) {
    flex-direction: column;
    gap: 1rem;
  }
}

.filter-wrap {
  position: relative;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  padding: 2px 0;

  @include responsive(phone-only) {
    width: 100%;
  }

  &__title {
    cursor: pointer;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &.active {
    background-color: $transparentWhite;
  }

  h2 {
    font-size: 14px;
    z-index: 999;
  }
  .hidden-menu {
    position: absolute;
    display: flex;
    top: 28px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $transparentWhite;
    border-radius: 0 0 10px 10px;
    padding: 10px 12px;
    width: 100%;
    z-index: 99999;

    @include responsive(phone-only) {
      top: 19px;
    }
    p {
      font-size: 12px;
      margin-top: 10px;
    }
    button {
      margin-top: 10px;
      font-size: 12px;
      font-weight: 600;
      background-color: black;
      color: white;
      border-radius: 7px;
      padding: 3px 10px;
    }
  }
}

//  hidden menu animation
.hidden-menu {
  opacity: 0;
  /* Start offscreen */
  transform: translateY(-10px);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.hidden-menu.active {
  opacity: 1;
  /* Slide in */
  transform: translateY(0);
}
