.poster__container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 3.5rem;
  grid-row-gap: 6rem;
}

.poster__link {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: 0.4s;
  &:hover {
    transform: scale(1.5);
    transition: 0.4s;
  }
}

.poster-wrap {
  height: 100%;
}

.poster__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
