.poster__container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.poster__wrap {
  height: 100%;
}

.poster__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
