.profile-list__btn-container {
  // background-color: rgb(72, 172, 222);
  margin-bottom: 1rem;
  width: 100%;
}

.profile-list__container {
  width: 100%;
}

// 'Reviewed, more button' wrap
.profile-list__title-wrap {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  span:first-of-type {
    font-weight: 500;
    font-size: 20px;
  }
}

//
.profile-list__card-container {
  margin-top: 2rem;
  // background-color: rgb(231, 152, 165);
}

.profile-list__card-wrap {
  display: flex;

  &__poster {
    img {
      width: 80px;
    }
  }

  &__info {
    // background-color: rgb(218, 243, 129);
    width: 100%;
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
    span {
      font-size: 14px;
    }

    &-wrap {
      // title div
      width: 100%;
      span {
        margin-right: 3px;
      }
      &__title {
        // background-color: red;
        span:first-of-type {
          font-weight: 600;
        }
        span:nth-child(2) {
          font-weight: 300;
          color: $darkGray;
        }
      }
      // reviewed date wrap
      &__reviewDate {
        // background-color: pink;
        span:first-of-type {
          font-weight: 300;
          color: $darkGray;
        }
        span:nth-child(2) {
          margin-left: 5px;
          font-weight: 600;
        }
      }
    }
  }
}
