.review-detail__container {
  //   background-color: red;
  width: 100%;
}

.review-detail {
  //   background-color: pink;
  margin-top: 2rem;

  // each div has bottom margin
  // this div contains each div of elements
  div:not(.review-detail__rating-wrap) {
    margin-bottom: 1rem;
  }

  // each wrap of contents
  .detail-wrap {
    // first spans of each div
    span:first-of-type {
      display: inline-block;
      width: 100px;
      font-weight: 600;
    }

    // second spans
    span:nth-child(2) {
      font-weight: 400;
    }
  }

  //   &__title-wrap {
  //     // background-color: blue;
  //   }

  //   &__date-wrap {
  //     // background-color: rgb(62, 226, 117);
  //   }

  //   &__comment-wrap {
  //     // background-color: rgb(255, 184, 42);
  //   }

  &__rating-wrap {
    // background-color: rgb(162, 0, 255);
    display: flex;
  }

  //   &__editedDate-wrap {
  //     // background-color: rgb(0, 162, 255);
  //   }
}
