.search-wrap {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.search__input {
  border-radius: 10px;
  border-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
  padding: 4px 5px 1px 10px;
  outline: none;
}

.search__input:focus::placeholder {
  color: transparent;
}

.search__btn {
  border: none;
  background: none;
  position: absolute;
  right: 23px;
  top: 5px;
  cursor: pointer;
  span {
    font-size: 22px;
  }
}
