.search-wrap {
  position: relative;
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: flex-end;
  margin-bottom: 2rem;

  .page {
    height: auto;
  }

  @include responsive(phone-only) {
    margin-left: 0;
    margin-bottom: 2rem;
  }
}

.search__input {
  position: relative;
  display: block;
  border-radius: 10px;
  border-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
  padding: 4px 5px 1px 10px;
  outline: none;
  @include responsive(phone-only) {
    width: 100%;
  }
}

.search__input:focus::placeholder {
  color: transparent;
}

.search__btn-wrap {
  display: block;
  border: none;
  background: none;
  position: absolute;
  top: 5px;
  right: 36px;
  cursor: pointer;
  &Wrap {
    height: inherit;
    width: inherit;
  }
  span {
    font-size: $title;
  }
}
