@charset "UTF-8";
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list],
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #0f0f0f;
}

span,
button {
  margin: 0;
  padding: 0;
}

.wrap {
  width: 100%;
}

.error {
  font-size: 12px;
  color: rgb(163, 22, 22);
}

button {
  border: none;
  background: none;
}

/* placeholder 텍스트 스타일 변경 */
input::-webkit-input-placeholder {
  margin-left: 15px !important;
  font-size: 14px;
  color: rgb(171, 171, 171);
}
input::-moz-placeholder {
  margin-left: 15px !important;
  font-size: 14px;
  color: rgb(171, 171, 171);
}
input:-ms-input-placeholder {
  margin-left: 15px !important;
  font-size: 14px;
  color: rgb(171, 171, 171);
}
input::-ms-input-placeholder {
  margin-left: 15px !important;
  font-size: 14px;
  color: rgb(171, 171, 171);
}
input::placeholder {
  margin-left: 15px !important;
  font-size: 14px;
  color: rgb(171, 171, 171);
}

/* 클릭 시에 투명하게 만들기 */
input:focus::-webkit-input-placeholder {
  opacity: 0;
}
input:focus::-moz-placeholder {
  opacity: 0;
}
input:focus:-ms-input-placeholder {
  opacity: 0;
}
input:focus::-ms-input-placeholder {
  opacity: 0;
}
input:focus::placeholder {
  opacity: 0;
}

input:focus {
  outline: none;
}

.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker-wrapper input {
  background-color: #e1e1e1;
}

.page {
  margin-bottom: 2rem;
}

.page:not(.footer-wrap) {
  min-height: calc(100vh - 15rem);
}
@media (max-width: 599px) {
  .page:not(.footer-wrap) {
    min-height: 80vh;
  }
}

.navbar,
.page {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 2rem;
}

.material-symbols-outlined.emptyHeart {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 600, "GRAD" -25, "opsz" 48;
  margin-bottom: 3px;
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5rem;
}
@media (max-width: 599px) {
  .info-wrap {
    margin-bottom: 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.info-wrap .poster-wrap {
  width: 40%;
}
@media (max-width: 599px) {
  .info-wrap .poster-wrap {
    margin-bottom: 2rem;
  }
}
.info-wrap img {
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 5rem;
  width: 100%;
}
.main-wrap__btn {
  width: 12rem;
  margin-right: 1.5rem;
}
@media (max-width: 599px) {
  .main-wrap {
    margin-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main-wrap__info .movie-title {
  font-size: 1.5rem;
  letter-spacing: 0.8px;
  font-weight: 800;
}
.main-wrap__info .movie-year {
  font-size: 12px;
  font-weight: 400;
}
.main-wrap__info-sub-wrap {
  margin-bottom: 5px;
  letter-spacing: 0.8px;
}
.main-wrap__info .info-overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  max-width: 450px;
}
.main-wrap__info .sub-info .director:hover {
  background-color: #ecb400;
}
.main-wrap__info .sub-info .movie-cast {
  margin-right: 10px;
}
.main-wrap__info .sub-info .movie-cast:hover {
  background-color: #ecb400;
}
.main-wrap__info .sub-info span {
  margin-right: 7px;
}
.main-wrap__info .sub-info span:first-of-type:not(.movie-cast) {
  color: rgb(55, 55, 55);
  font-size: 13px;
}
.main-wrap__info .sub-info span:nth-child(2) {
  font-weight: 600;
}

.cast- title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile-page {
  min-height: calc(100vh - 15rem);
}

.profile__user-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.profile__user-wrap p {
  padding: 10px 20px;
  background-color: rgba(240, 240, 240, 0.8);
  border-radius: 10px;
}

.list__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  gap: 4rem;
}
@media (max-width: 599px) {
  .list__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.profile-list__btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviewBtns {
  width: 100px;
  margin-left: 1rem;
  height: 25px;
}

.profile-list__card-wrap__info-wrap__button-wrap {
  width: 30%;
}

.login-btn {
  margin-top: 1.5rem;
  width: 100%;
}

.login-signup-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.login-signup-btn {
  font-size: 14px;
  text-decoration: underline;
  color: #0f0f0f;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.input-wrap img {
  position: absolute;
  width: 20px;
  right: 6px;
}

.review-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
}
.review-page-wrap {
  width: 37rem;
  margin-bottom: 3rem;
  padding: 2rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media (max-width: 599px) {
  .review-page-wrap {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
  }
}
.review-page-wrap .btn-wrap {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}
.review-page-wrap .btn-wrap button,
.review-page-wrap .btn-wrap a {
  width: 100%;
}

.review-detail {
  margin-top: 3rem;
}
.review-detail div {
  margin-bottom: 15px;
}
.review-detail__container {
  width: 100%;
}
.review-detail .detail-wrap span:first-of-type {
  display: inline-block;
  width: 100px;
  font-weight: 600;
}
.review-detail .detail-wrap span:nth-child(2) {
  font-weight: 400;
  color: rgb(55, 55, 55);
}
.review-detail__comment-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.review-detail__comment-wrap span:nth-child(2) {
  display: inline-block;
  width: 80%;
}
.review-detail__rating-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.signup__container {
  margin-bottom: 4rem;
}

.review-edit-page {
  position: relative;
}

.cast-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cast-info .poster-wrap {
  margin-right: 2rem;
  margin-bottom: 6rem;
}
.cast-info .poster-wrap img {
  width: 10rem;
}

.cast-bio-btn {
  font-size: 12px;
  font-weight: 600;
  text-align: right;
}

.navbar {
  width: 100%;
  height: 11rem;
}

.responsiveNav,
.openIcon {
  display: none;
}

.nav-wrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 599px) {
  .nav-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
  }
}
.nav-wrap .search-bar__mobile-ver {
  display: none;
}
@media (max-width: 599px) {
  .nav-wrap .search-bar__mobile-ver {
    display: block;
  }
}
.nav-wrap .logo-wrap img {
  width: 14rem;
}
@media (max-width: 599px) {
  .nav-wrap .logo-wrap img {
    width: 12rem;
  }
}
.nav-wrap .link-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  width: 100%;
  height: 3rem;
}
@media (max-width: 599px) {
  .nav-wrap .link-wrap {
    display: none;
  }
}
.nav-wrap .link-wrap .profile-wrap {
  width: 6rem;
  margin-right: 1rem;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-wrap .link-wrap .profile-wrap.active {
  background-color: rgba(240, 240, 240, 0.8);
  border-radius: 10px 10px 0 0;
}
.nav-wrap .link-wrap .hidden-menu {
  position: absolute;
  background-color: rgba(240, 240, 240, 0.8);
  left: 0;
  top: 38px;
  width: 100%;
  padding-top: 7px;
  border-radius: 0 0 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99999;
}
.nav-wrap .link-wrap .hidden-menu a {
  display: inline-block;
  margin-bottom: 8px;
  width: 100%;
  text-align: center;
  padding: 6px 0 4px 0;
}
.nav-wrap .link-wrap .hidden-menu a:hover {
  background-color: rgb(55, 55, 55);
  color: #f1f1f1;
}
.nav-wrap .link-wrap .hidden-menu a:nth-child(3) {
  margin-bottom: 0;
}
.nav-wrap .link-wrap .hidden-menu a:nth-child(3):hover {
  border-radius: 0 0 10px 10px;
}
.nav-wrap .link-wrap .hidden-menu {
  opacity: 0;
  /* Start offscreen */
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.nav-wrap .link-wrap .hidden-menu.active {
  opacity: 1;
  /* Slide in */
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media (max-width: 599px) {
  .mobile-nav-wrap {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40%;
    height: 100%;
    z-index: 9999;
  }
}
.mobile-nav-wrap .mobile-nav {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1rem;
  padding-bottom: 2rem;
  background-color: rgba(241, 241, 241, 0.9);
}
.mobile-nav-wrap .mobile-nav a {
  font-size: larger;
  font-weight: bolder;
}

@media screen and (max-width: 599px) {
  .burger-wrap {
    display: block;
    position: fixed;
    right: 18px;
    top: 3px;
    width: 45px;
    height: 45px;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    z-index: 99999;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .burger-btn {
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    position: absolute;
    height: 3px;
    width: 30px;
    top: 30px;
    background-color: #0f0f0f;
    border-radius: 4px;
    left: 15px;
    z-index: 9999;
  }
  .burger-btn:before {
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #0f0f0f;
    content: "";
    top: -10px;
    border-radius: 4px;
    z-index: 9999;
  }
  .burger-btn:after {
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #0f0f0f;
    content: "";
    top: 10px;
    border-radius: 4px;
    z-index: 9999;
  }
  .x-btn {
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    position: absolute;
    height: 3px;
    width: 30px;
    top: 30px;
    background: transparent;
    border-radius: 4px;
    left: 15px;
    z-index: 9999;
  }
  .x-btn:before {
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    position: absolute;
    width: 28px;
    height: 3px;
    background-color: #0f0f0f;
    content: "";
    top: -10px;
    border-radius: 4px;
    z-index: 9999;
    -webkit-transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
            transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
  }
  .x-btn:after {
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    position: absolute;
    width: 28px;
    height: 3px;
    background-color: #0f0f0f;
    content: "";
    top: 10px;
    border-radius: 4px;
    z-index: 9999;
    -webkit-transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
            transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
  }
}
@-webkit-keyframes sideNavOpen {
  from {
    opacity: 0;
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
  to {
    opacity: 1;
  }
}
@keyframes sideNavOpen {
  from {
    opacity: 0;
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
  to {
    opacity: 1;
  }
}
.footer {
  background-color: #0f0f0f;
}
.footer .page {
  margin-top: 5rem;
  height: 15rem;
  background-color: #0f0f0f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 599px) {
  .footer .page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 2rem;
    height: 20vh;
  }
}
.footer .page img {
  width: 15rem;
}
@media (max-width: 599px) {
  .footer .page img {
    width: 8rem;
  }
}
.footer .page span {
  color: #f1f1f1;
  margin-left: 2rem;
  margin-right: 1.4rem;
  font-weight: 400;
  font-size: 16px;
}
@media (max-width: 599px) {
  .footer .page span {
    margin-left: 1rem;
    margin-right: 1.4rem;
    font-weight: 400;
    font-size: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.postercard-title__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.postercard-title__container-info-wrap {
  letter-spacing: 0.8px;
}
.postercard-title__container-info-wrap span:first-of-type {
  font-size: 26px;
  font-weight: 800;
}
.postercard-title__container-info-wrap span:nth-child(2) {
  font-weight: 400;
  font-size: 13px;
  color: rgb(55, 55, 55);
}
.postercard-title__container-poster-wrap img {
  width: 8rem;
}

.main__movie-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__movie-container {
  width: 100%;
  margin-bottom: 5rem;
}
.main__movie-container .section-title {
  font-size: 1.1rem;
}
.main__movie-container__link {
  width: 12%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 1rem;
}
@media (max-width: 599px) {
  .main__movie-container__link {
    width: 21%;
  }
}

.form {
  width: 100%;
  padding-top: 4rem;
}
@media (max-width: 599px) {
  .form {
    padding-top: 2rem;
  }
}

.form__container {
  max-width: 400px;
  margin: 0px auto;
  padding: 20px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  -webkit-animation: slideUp 1.5s ease-in-out forwards, fadeIn 1s ease-in-out 0.5s forwards;
          animation: slideUp 1.5s ease-in-out forwards, fadeIn 1s ease-in-out 0.5s forwards;
  opacity: 0;
}

.form-title {
  text-align: center;
  margin-bottom: 3rem;
}

.form-label {
  display: block;
  font-size: 13px;
  margin-top: 1rem;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  background-color: #e1e1e1;
}

.form-btn {
  width: 100%;
  margin: 1rem 0;
}

.review-form {
  width: 30rem;
  margin: 0 auto;
}
@media (max-width: 599px) {
  .review-form {
    width: 100%;
  }
}

.comment-form {
  line-height: 2rem;
}

.search-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 599px) {
  .search-wrap {
    margin-left: 0;
    margin-bottom: 2rem;
  }
}

.search__input {
  border-radius: 10px;
  border-color: transparent;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
  padding: 4px 5px 1px 10px;
  outline: none;
}

.search__input:focus::-webkit-input-placeholder {
  color: transparent;
}

.search__input:focus::-moz-placeholder {
  color: transparent;
}

.search__input:focus:-ms-input-placeholder {
  color: transparent;
}

.search__input:focus::-ms-input-placeholder {
  color: transparent;
}

.search__input:focus::placeholder {
  color: transparent;
}

.search__btn {
  border: none;
  background: none;
  position: absolute;
  top: 5px;
  right: 6px;
  cursor: pointer;
}
.search__btn span {
  font-size: 22px;
}

.poster__container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 3.5rem;
  grid-row-gap: 6rem;
}
@media (max-width: 599px) {
  .poster__container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.5rem;
    grid-row-gap: 1rem;
  }
}

.poster__link {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.poster__link:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.poster-wrap {
  height: 100%;
}

.poster__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.search-result-for {
  margin-top: 3rem;
  margin-left: 10px;
  size: 12px;
  font-weight: 400;
}

.btn-wrap {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}
.btn-wrap button,
.btn-wrap a {
  width: 100%;
}

.btn-style {
  border: transparent;
  border-radius: 8px;
  height: 36px;
  cursor: pointer;
}
.btn-style span {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  margin: 0;
}

.btn-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.btn-label span:nth-child(1) {
  margin-right: 6px;
}

.main-wrap__button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 599px) {
  .main-wrap__button-wrap {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
  }
}
@media (max-width: 599px) {
  .main-wrap__button-wrap button,
  .main-wrap__button-wrap a {
    width: 100%;
    margin-right: 0;
  }
}

.basicBtn {
  background-color: #0f0f0f;
  border: 1px solid none;
  border-radius: 5px;
  color: #f1f1f1;
}

.specialBtn {
  background-color: #f1f1f1;
  border: 1px solid #0f0f0f;
  border-radius: 5px;
}
.specialBtn:hover {
  background-color: #0f0f0f;
  color: white;
  border: none;
}
.specialBtn:hover .btn-label {
  color: #f1f1f1;
}
.specialBtn .btn-label:hover {
  color: #f1f1f1;
}

.view-more-btn {
  cursor: pointer;
}

.select-date {
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
  border-width: 1px;
  border-color: #d1d5db;
  border-style: solid;
  width: 100%;
}

.profile-list__btn-container {
  margin-bottom: 1rem;
  width: 100%;
}
@media (max-width: 599px) {
  .profile-list__btn-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.profile-list__container {
  width: 100%;
}

.profile-list__title-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
  padding-bottom: 1.2rem;
  border-bottom: 0.5px solid #e1e1e1;
}
@media (max-width: 599px) {
  .profile-list__title-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
}
.profile-list__title-wrap span:first-of-type {
  font-weight: 500;
  font-size: 20px;
}
.profile-list__title-wrap .filter__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}
@media (max-width: 599px) {
  .profile-list__title-wrap .filter__container {
    margin-top: 1rem;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
}
@media (max-width: 599px) {
  .profile-list__title-wrap .filter__container .search-wrap {
    width: 100%;
    margin-top: 10px;
  }
}
@media (max-width: 599px) {
  .profile-list__title-wrap .filter__container .search-wrap input {
    width: 100%;
  }
}

.profile-list__card-container {
  margin-top: 2rem;
}

.profile-list__card-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 599px) {
  .profile-list__card-wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.profile-list__card-wrap__poster {
  width: 10%;
}
@media (max-width: 599px) {
  .profile-list__card-wrap__poster {
    width: 20%;
  }
}
.profile-list__card-wrap__info {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 1rem;
}
.profile-list__card-wrap__info span {
  font-size: 14px;
}
.profile-list__card-wrap__info-wrap {
  width: 100%;
}
.profile-list__card-wrap__info-wrap__button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.profile-list__card-wrap__info-wrap__button-wrap button {
  width: 45%;
}
.profile-list__card-wrap__info-wrap__button-wrap a {
  width: 45%;
  display: inline-block;
}
.profile-list__card-wrap__info-wrap__button-wrap a button {
  width: 100%;
  margin-left: 0;
}
@media (max-width: 599px) {
  .profile-list__card-wrap__info-wrap__button-wrap {
    width: 100%;
    margin-top: 10px;
  }
}
.profile-list__card-wrap__info-wrap span {
  margin-right: 3px;
}
.profile-list__card-wrap__info-wrap__title span:first-of-type {
  font-weight: 600;
}
.profile-list__card-wrap__info-wrap__title span:nth-child(2) {
  font-weight: 300;
  color: rgb(55, 55, 55);
}
.profile-list__card-wrap__info-wrap__reviewDate span:first-of-type {
  font-weight: 300;
  color: rgb(55, 55, 55);
}
.profile-list__card-wrap__info-wrap__reviewDate span:nth-child(2) {
  margin-left: 5px;
  font-weight: 600;
}

.star {
  fill: #ecb400;
}

.empty-star {
  fill: #808080;
}

.star,
.empty-star {
  width: 18px;
}

.spinner-wrap {
  background-color: rgba(100, 100, 100, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.loading {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border: 4px solid rgba(109, 109, 109, 0.3);
  border-radius: 50%;
  border-top-color: #e2e2e2;
  animation: rotation 0.8s linear infinite;
  -webkit-animation: rotation 0.8s linear infinite;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.filter-wrap {
  position: relative;
  width: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px 10px 0 0;
  padding: 2px 0;
}
@media (max-width: 599px) {
  .filter-wrap {
    width: 8rem;
  }
}
.filter-wrap__title {
  cursor: pointer;
}
.filter-wrap__title::first-letter {
  text-transform: uppercase;
}
.filter-wrap.active {
  background-color: rgba(240, 240, 240, 0.8);
}
.filter-wrap h2 {
  font-size: 14px;
  z-index: 999;
}
.filter-wrap .hidden-menu {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 28px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(240, 240, 240, 0.8);
  border-radius: 0 0 10px 10px;
  padding: 10px 12px;
  width: 100%;
  z-index: 99999;
}
@media (max-width: 599px) {
  .filter-wrap .hidden-menu {
    top: 19px;
  }
}
.filter-wrap .hidden-menu p {
  font-size: 12px;
  margin-top: 10px;
}
.filter-wrap .hidden-menu button {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 600;
  background-color: black;
  color: white;
  border-radius: 7px;
  padding: 3px 10px;
}

.hidden-menu {
  opacity: 0;
  /* Start offscreen */
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.hidden-menu.active {
  opacity: 1;
  /* Slide in */
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.cast-title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cast-title-wrap__title {
  font-size: 26px;
  font-weight: 600;
}
.cast-title-wrap .view-more-btn {
  margin-right: 2rem;
  cursor: pointer;
}
@media (max-width: 599px) {
  .cast-title-wrap .view-more-btn {
    margin-right: 0;
  }
}

.cast__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 2rem;
}
@media (max-width: 599px) {
  .cast__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cast-card p {
  font-size: 12px;
}
.cast-card-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img__container {
  width: 8rem;
  height: 8rem;
}
@media (max-width: 599px) {
  .img__container {
    width: 4rem;
    height: 4rem;
  }
}
.img__container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.name__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.back-btn-wrap {
  position: absolute;
  left: 2rem;
  top: 0;
}
@media (max-width: 599px) {
  .back-btn-wrap {
    display: none;
  }
}

.back-btn {
  width: 4rem;
  cursor: pointer;
}

.confirm-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(125, 125, 125, 0.8);
}

.confirm-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 22rem;
  height: 9rem;
  padding: 2rem 0 18px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border-radius: 5px;
}
.confirm-window span {
  font-weight: 600;
}

.btn-wrap p {
  cursor: pointer;
  padding: 6px 1.2rem;
  font-size: 14px;
}

.filmocard__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 599px) {
  .filmocard__container {
    width: 100%;
    height: 18rem;
  }
}
.filmocard__container__poster-wrap {
  width: 100%;
  height: 70%;
}
@media (max-width: 599px) {
  .filmocard__container__poster-wrap {
    height: 5rem;
    width: 3rem;
  }
}
.filmocard__container__poster-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 10px 0;
}

.filmocard-info-wrap {
  background-color: red;
  width: 100%;
  height: 100%;
}

.filmo {
  width: 100%;
}

.filmo__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 2rem;
  width: 100%;
}
@media (max-width: 599px) {
  .filmo__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.filmo-title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pagination-index {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
}

.pagination-display {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pagination-display button {
  cursor: pointer;
  margin: 1rem 10px;
  padding: 5px 10px;
  border-radius: 10px;
}
.pagination-display button:hover {
  background-color: #76c5e4;
}

.list-title-wrap {
  margin-bottom: 1rem;
}
.list-title-wrap h1 {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}