* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #0f0f0f;
}

span,
button {
  margin: 0;
  padding: 0;
}

.wrap {
  width: 100%;
  height: 100vh;
}

.navbar {
  width: 100%;
  height: 15rem;
}

.nav-wrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav-wrap .logowrap img {
  width: 18rem;
}
.nav-wrap .linkwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-wrap .linkwrap a {
  margin-right: 1rem;
}

.search__wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4px;
}

.search__input {
  border-radius: 20px;
  border-color: transparent;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 11px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 11px;
  padding: 4px 5px 1px 10px;
  outline: none;
}

.search__input:focus::-webkit-input-placeholder {
  color: transparent;
}

.search__input:focus::-moz-placeholder {
  color: transparent;
}

.search__input:focus:-ms-input-placeholder {
  color: transparent;
}

.search__input:focus::-ms-input-placeholder {
  color: transparent;
}

.search__input:focus::placeholder {
  color: transparent;
}

.search__btn {
  border: none;
  background: none;
  position: absolute;
  right: 23px;
  top: 5px;
  cursor: pointer;
}
.search__btn span {
  font-size: 22px;
}

.poster__container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 3.5rem;
  grid-row-gap: 6rem;
}

.poster__link {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.poster__link:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.poster__wrap {
  height: 100%;
}

.poster__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.searchResultFor {
  margin-top: 3rem;
  margin-left: 10px;
  size: 12px;
  font-weight: 400;
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btnStyle {
  border: transparent;
  border-radius: 8px;
  height: 36px;
  cursor: pointer;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.btnStyle span {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
}

.basicBtn {
  width: 45%;
  background-color: #0f0f0f;
}
.basicBtn span {
  color: #f1f1f1;
}

.specialBtn {
  width: 45%;
  background-color: #ecb400;
}
.specialBtn span {
  color: #f1f1f1;
}

.info__container {
  height: calc(100vh - 25rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65%;
  padding: 0 2rem;
}
.info__wrap img {
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.main-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 5rem;
  width: 100%;
}
.main-wrap__btn {
  width: 12rem;
  margin-right: 1.5rem;
}

.main-wrap__info .movieTitle {
  font-size: 1.5rem;
  letter-spacing: 0.8px;
  font-weight: 800;
}
.main-wrap__info .movieYear {
  font-weight: 400;
  font-size: 13px;
}
.main-wrap__info-subWrap {
  margin-bottom: 5px;
  letter-spacing: 0.8px;
}
.main-wrap__info .subInfo .movieCast {
  margin-right: 10px;
}
.main-wrap__info .subInfo span {
  margin-right: 7px;
}
.main-wrap__info .subInfo span:first-of-type:not(.movieCast) {
  color: rgb(55, 55, 55) 0;
  font-size: 13px;
}
.main-wrap__info .subInfo span:nth-child(2) {
  font-weight: 600;
}

.postercard-title__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.postercard-title__container-infoWrap {
  letter-spacing: 0.8px;
}
.postercard-title__container-infoWrap span:first-of-type {
  font-size: 26px;
  font-weight: 800;
}
.postercard-title__container-infoWrap span:nth-child(2) {
  font-weight: 400;
  font-size: 13px;
  color: rgb(55, 55, 55) 0;
}
.postercard-title__container-posterWrap img {
  width: 8rem;
}

.main__movie-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__movie-container {
  width: 100%;
  margin-bottom: 2rem;
}
.main__movie-container .section-title {
  font-size: 1.4rem;
}
.main__movie-container__link {
  width: 12%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 1rem;
}

.login__container {
  height: calc(100vh - 15rem);
  width: 100%;
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.form-container {
  max-width: 400px;
  margin: 0px auto;
  padding: 20px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  -webkit-animation: slideUp 1.5s ease-in-out forwards, fadeIn 1s ease-in-out 0.5s forwards;
          animation: slideUp 1.5s ease-in-out forwards, fadeIn 1s ease-in-out 0.5s forwards;
  opacity: 0;
}

.form-title {
  text-align: center;
  margin-bottom: 3rem;
}

.form-label {
  font-size: 13px;
}

.form-input {
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
}

.form-btn {
  width: 100%;
  margin: 1rem 0;
}